{
  "prod": {
    "tourdeguet": {
      "url": "https://www.monsite.com"
    },
    "sentinelle": {
      "publicPath": "/dist/"
    }
  },
  "dev": {
    "tourdeguet": {
      "url": "http://localhost:8081"
    },
    "sentinelle": {
      "publicPath": "/dist/"
    }
  }
}