{
  "prod": {
    "tourdeguet": {
      "url": "wss://www.monsite.com/ws"
    },
    "sentinelle": {
      "publicPath": "/dist/"
    }
  },
  "dev": {
    "tourdeguet": {
      "url": "ws://localhost:8080"
    },
    "sentinelle": {
      "publicPath": "/dist/"
    }
  }
}